html {
    font-size: 62.5%;
    background-color: black;
}
* {
    margin: 0%;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3.5rem;
}

p {
    font-size: 2rem;
}


.menu {
    position: fixed;
    top: 0%;
    background-color: rgb(56, 75, 69);
    height: 100%;
    z-index: 1000;
    width: 20%;
    left: 0%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    /* justify-content: center; */

}

.user {
    margin: 0rem;
   
    padding: 0rem;
   
}
.user .post a{
    text-decoration: none;
    color:#eee;

}
.user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid rgb(255, 152, 50);
}

.navbar {
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 1rem 3rem;
    text-decoration: none;
}

.navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: rgb(255, 152, 50);
}

.education {
    position:absolute;
    left: 20%;
    height: 90%;
    width: 80%;
    padding-left: 5rem;
    display:inline-flexbox;
    flex-flow: column;
    margin-top: 0%;
    padding: 0rem;
    background-color: rgb(0, 0, 0);
    padding-top: 0%;
    color: #fff;
    overflow:scroll;
    top: 5%;
    bottom: 0%;
    
}
.navmenu{
    background-color: rgb(79, 32, 32);
    height: 0%;
    z-index: 100;
    bottom:0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    color: black;
}
.navmenu i{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 6%;
    padding-top: 1.3%;
    color:rgb(255, 255, 255);
   font-size: 4rem;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: black;
  }
.title {
    position: fixed;
    z-index: 50000;
    background-color: rgb(0,0,0);
    height: auto;
    width: 100%;
    color: rgb(255, 255, 255);
    border-bottom: 0.3rem solid rgb(255, 152, 50);
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    top: 0rem;
}
.section{
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border-top: 0.2rem solid rgb(255, 152, 50) ;
    border-bottom: 0.2rem solid rgb(255, 152, 50) ;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    border-bottom: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:rgb(255, 152, 50);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.btnh {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
}

.btnh:hover {
    background-color: rgb(255, 152, 50);
    border: none;
    color: #fff;
    border-radius: 20rem;
}











/* media queries  */

@media (max-width:1200px) {

    html {
        font-size: 55%;
    }
    .menu{
        height: 100%;
    }
    .education {
        padding: 0rem 1rem;
        height: 90%;
        bottom: 0%;
    }
    .title{
        top: 0%;
    }
    .navmenu{
        bottom: 0rem;
        margin-top: 0rem;
        z-index: 5;
        background-color: aquamarine;
        height: 0%;
    }

}

@media (max-width:900px) {
    html {
        font-size: 52%;
    }

    .menu {
        left: -120%;
    }
    .title{
        width:100%
        top: 0%;
        justify-content: center;
    }
    .navmenu{       
        width: 100%;
        z-index: 1;
        background-color: rgb(255, 139, 139);
        height: 5%;

    }

    .education {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0%;
        padding-bottom: 5rem;
        bottom: 0%;
        left: 0%;
        width: auto;
        top:5%;
        height: 95%;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        height: 95%;
    }

}

@media (max-width:768px) {

    html {
        font-size: 50%;
       
    }
    .menu {
        left: -120%;

    }

    .title{
        margin-top:0rem;
        top: 0%;
    }
    .section{
        width: 100%;
    }

    .education {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0%;
        left: 0%;
        width: auto;
        overflow: scroll;
        height: 95%;
    }
    .navmenu{
        z-index: 5;
       background-color: rgb(255, 139, 139);
        height: 5%;
        align-items: center;
    }
}
@media (max-width:600px) {
    html {
        font-size: 45%;
    }

    .menu {
        display: none;
        background-color: #eee;
        left: -120%;

    }

    .title{
        margin-top: 0rem;
    }
    .section{
        width: 100%;
    }
    .education {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0%;
        width: auto;
        margin-left: 0rem;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        height: 95%;
    }
    .navmenu{
       
        z-index: 5;
        background-color: rgb(255, 139, 139);
        height: 5%;
    }
}

@media (max-width:480px) {
    html {
        font-size: 42%;
    }

    .menu {
        display: none;
        background-color: #eee;
        left: -120%;

    }

    .title h2{
        margin-top: 0rem;
        font-size: 3.5rem;
    }
    .section{
        width: 100%;
    }
    .education {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin-left: 0rem;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        height: 95%;
    }
   .navmenu{
        z-index: 5;
        background-color: rgb(255, 139, 139);
        height: 5%;

    }
}

@media (max-width:380px) {
    html {
        font-size: 37%;
    }

    .menu {
        display: none;
        background-color: #eee;
        left: -120%;

    }

    .title h2{
        margin-top: 0rem;
        font-size: 4rem;
        color: white;
    }
    .section{
        width: 100%;
    }
    .education {
        justify-content:first baseline;
        align-items:flex-start;
        text-align: center;
        width: auto;
        margin-left: 0rem;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        height: 95%;
    }
   .navmenu{
        z-index: 5;
        background-color: rgb(255, 139, 139);
        height: 5%;
        left:0%;

    }
}